<a go-back href="/">🔙</a>

{{#if del_goal}}
{{#each del_goal}}
<div class="alert alert-danger mt-5" role="alert">
  <h4 class="alert-heading">
    Are you sure to delete this goal
  </h4>
  <h6>{{title}}</h6>
  <hr>
  <p>{{description}}</p>
  <hr>
  <div class="d-flex justify-content-around">
    <a
      class="btn btn-sm btn-primary"
      href="/"
    >
      No
    </a>
    <a
      class="btn btn-sm btn-danger"
      href="/del_goal/:{{_id}}"
    >
      Delete
    </a>
   </div>
</div>
{{/each}}
{{/if}}

{{#if goal}}
{{#each goal}}
<h3>Edit goal</h3>
<form action="/update" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      name="title"
      id="title"
      value="{{title}}"
      placeholder="Enter a title"
    >
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="id"
      id="id"
      value="{{_id}}"
      hidden
    >
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="3"
      value="{{description}}"
    >
    </textarea>
  </div>
  <button type="submit" class="btn btn-primary">
    Submit
  </button>
  <a class="btn btn-danger form-cancel" href="/">Cancel</a>
</form>
{{/each}}
{{/if}}

{{#if update}}
<div class="alert alert-success mt-5" role="alert">
  <h4 class="alert-heading">
    Goal {{update}} Successfully
  </h4>
  <h6>{{title}}</h6>
  <div class="d-flex justify-content-around">
    <a
      class="btn btn-sm btn-primary"
      href="/"
    >
      Home
    </a>
   </div>
</div>
{{/if}}

{{#if delete}}
<div class="alert alert-danger mt-5" role="alert">
  <h4 class="alert-heading">
    Goal {{delete}} Successfully
  </h4>
  <h6>{{title}}</h6>
  <br />
  <div class="d-flex justify-content-around">
    <a
      class="btn btn-sm btn-primary"
      href="/"
    >
      Home
    </a>
   </div>
</div>
{{/if}}